<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
    <h4>Make your URL smaller and easier to share and use!</h4>
    <h1 class="w3-xxxlarge w3-animate-bottom">URL shortener</h1>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-center">
    <div class="w3-card w3-container" style="min-height:460px">

      <form>
        <input type="text" class="w3-input" name="url" autofocus>
        <br><br>
        <a class="w3-button w3-theme">SHORT THAT URL!</a>
      </form>

    </div>
  </div>
</div>
